*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:#fff;
  font-family: 'Roboto Condensed', sans-serif;
  color:#31D8C1;
}
.container{
  margin:0 auto;
}

// flexbox vertical centering method from the blog of Philip Walton https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
.hero {
  background-image: url("https://images.unsplash.com/photo-1428988449731-1e5ccfb5b84f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f513990c84aead7464c276843b5e9f16");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #00FFDC;
  background-position: center center;
  padding:10% 0;
  height:100vh;
  transition:.5s all;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}
.hero-inner{
  width:75%;
}

.info-container {
  margin-bottom:2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5% 2% 0 2%;
  background:#f1f1f1;
}
button {
  -webkit-appearance: none;
  border: none;
  background: #31d8c1;
  padding: 10px 15px;
  margin:5% 0;
  transition: .2s all;
  color:white;
  &:hover {
    background: blue;
  }
}
h1{
  font-family: 'Courgette', cursive;
  text-align:center;
  color:#fff;
  margin:0;
  margin-bottom: 3%;
}
form#bandadeform {
  text-align: center;
}
#bandade-search-input {
  width: 50%;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius:35px;
  background: #fff;
  transition:.2s all;
  font-size:20px;
  color:#31D8C1;
  &:focus {
    outline: none;
    background: #fff;
  }
}
.search-result {
  color:gray;
  font-size:18px;
}
.bandade-artist {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}
.bandade-tix {
}
.inactive {
  display: none;
}
#artist, #radius {
    padding-right: 3%;
}
.filter-container {
  margin: 2% 0 3% 0;
  h3 {
    padding: 2% 3%;
    font-size: 1.5rem;
    text-transform: lowercase;
    font-weight: 100;
    background: #D7F5F1;
    color: #31D8C1;
    margin: 3% 0;
  }
  input{
    margin-bottom: 20px;
    width: 100%;
    padding:10px;
  }
  form {
    padding-left: 0;
    padding-right: 0;
  }
}
.main {
  display:inline-block;
  height:auto;
}
