.result-map{
  height:300px;
  display: inline-block;
  vertical-align: top;
  z-index: 1000 !important;
  a {
    color: black;
    background: none;
    &:hover {
      background: none;
    }
  }
}
.map-wrap {
  padding-right: .5%;
  margin:2% 0;
}
