.result-map{
  height:300px;
  display: inline-block;
  vertical-align: top;
  a {
    color: black;
    background: none;
    &:hover {
      background: none;
    }
  }
}
.map-wrap {
  padding: 0;
}
