// device size md
@media only screen and (max-width:54.9375em) {
  #artist, #radius {
    padding-right: 0;
  }
  .info-container{
    padding:5% 2% 0 2%;
  }
  .filter-container{
    h3{
      margin-bottom: 3%;
    }
    #back-button {
      margin: 4% 0;
    }
  }
  #artist {
    padding-right: 1%;
  }
  #radius {
    padding-left: 1%;
  }
  #venue{
    padding:0 .5%;
  }
}

// device size sm
@media only screen and (max-width:47.875em) {
  #artist, #radius, #venue {
    padding: 0;
  }
  .main{
    padding: 0;
    margin:5% 0;
  }
  .map-wrap {
    padding: 15px;
  }
  .info-container{
    margin:15px;
  }
}

// device size xs
@media screen and (max-width: 40em) {
  .hero-inner{
    width:100%;
  }
  #bandade-search-input{
    padding:3%;
  }
  .main{
    padding: 0;
  }
  button{
    width: 100%;
  }
  .result-map{
    height:200px;
  }

}
